h1 {
	text-align: center;
}

.container {
	width: 100%;
	min-height: 100%;
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.container__item {
	position: relative;
	padding: 0px 0px 100% 0px;
}

.container__item img {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container__item-threecol {
	grid-column: span 3;
	grid-row: span 1;
}


.container__item-twocol {}

.container__item-fourcol {}